*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--clr-contrast2);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}
:root {
  --clr-lighter: #def0fa;
  --clr-light: #54a6be;
  --clr-midtone: #01799c;
  --clr-dark: #012069;
  --clr-contrast1: #ffcd00;
  --clr-contrast2: #dadbdd;
  --clr-contrast3: #636669;
  --ff-primary: "Jura", sans-serif;
  --ff-accent: ;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 0.7;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

body {
  /* background-image: url("https://bl6pap003files.storage.live.com/y4mMirp6TCQ0HUj4R6EaxDHB2w7hoKw-sFJtmKD1qNz1BDTnh7u2CZERrdDRSqyDAoyN4WlAbSvBgvW3uJ1VvpylSggwILKOQz_t2eki5j-jOR6yo_OBLX47uBaCuGpGfajsUGkNSfq9kfac4gxqAgK0zzqFxO8d1bXeweNepczGs7ib_8IvHcyzFaMss9sndaY?width=7698&height=5132&cropmode=none"); */
  /* background-size: cover; */
  background-color: var(--clr-midtone);
}

.navbar-brand {
  color: white !important;
}
.navbar {
  background: var(--clr-dark);
  grid-area: nav;
}
.item1 {
  grid-area: input;
  color: var(--clr-contrast2);
}
.item2 {
  grid-area: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* color: var(--clr-contrast2); */
  background-color: #01799c90;
  /* margin-bottom: 3rem; */
  padding: 1rem;
  /* border: 2px solid var(--clr-light); */
  border-radius: 8px;
  margin-bottom: auto;
  box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px #00526a;
}
.item3 {
  grid-area: inside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* color: white; */
  background-color: #01799c90;
  /* margin-bottom: 3rem; */
  padding: 1rem;
  /* border: 2px solid var(--clr-light); */
  border-radius: 8px;
  margin-bottom: auto;
  box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px #00526a;
}
.item4 {
  grid-area: outside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* color: white; */
  background-color: #01799c90;
  padding: 1rem;
  /* border: 2px solid var(--clr-light); */
  border-radius: 8px;
  margin-bottom: auto;
  box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px #00526a;
}
.item5 {
  grid-area: perp;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* color: white; */
  background-color: #01799c99;
  padding: 1rem;
  /* border: 2px solid var(--clr-light); */
  border-radius: 8px;
  margin-bottom: auto;
  box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px #00526a;
}

.grid-container {
  /* height: 90vh; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "input center inside outside perp";
  /* "input outside perp"; */
  grid-gap: 2rem;
  padding: 2rem 3rem 2rem 2rem;
}
.grid-container > div {
  font-family: var(--ff-primary);

  text-align: left;
  font-size: 1.6vw;
}

label {
  color: var(--clr-contrast2);
  padding: 0.1rem 0.8rem 0.2rem 0.8rem;
  border-radius: 8px;
  background-color: var(--clr-midtone);
  box-shadow: inset -1px -1px 2px var(--clr-light), inset 1px 1px 2px black;
}

input,
select,
option {
  border-radius: 5px;
  background-color: var(--clr-contrast2);
  padding-left: 0.5rem;
  font-size: 1.2vw;
  font-weight: bolder;
  color: black;
}

input:hover,
select:hover,
option:hover {
  background-color: white;
}

.user-input {
  padding-top: 1rem;
  font-size: 1.4vw;
}
.length-label {
  margin-top: 1.5rem;
  /* line-height: 2.5rem; */
  display: inline-block;
}

.user-input-title {
  color: white;
  background-color: #01799c90;
  margin-bottom: 3rem;
  padding: 2rem;
  /* border: 2px solid var(--clr-light); */
  border-radius: 8px;
  box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px #00526a;
}
.user-input-title > h2 {
  color: var(--clr-contrast2);
  font-size: 1.6vw;
  border: 2px solid var(--clr-contrast1);
  border-radius: 5px;
  width: fit-content;
  margin-top: -35px;
  margin-left: 5px;
  padding: 0.1rem 1rem;
  background-color: var(--clr-dark);
}

.fraction-bar {
  display: inline-block;
  font-size: 1.8vw;
}
.dashdot {
  font-size: 2vw;
}
.note {
  margin-top: 2rem;
  padding: 8px;
  border-radius: 5px;
  color: var(--clr-contrast2);
  font-size: 1.6rem;
  background-color: var(--clr-contrast3);
  line-height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.my-links a {
  color: white !important;
  text-decoration: none;
  padding: 7px 15px !important;
  margin: 8px;
  border: 2px solid var(--clr-contrast1);
  border-radius: 25px;
  cursor: pointer;
}

.my-links a:hover {
  border: 2px solid white;
}
.answer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.pipe-img {
  width: 100%;
  /* background-color: green; */
  /* overflow: hidden; */
}

.pipe-img img {
  /* float: right; */
  width: 100%;
}
.cut-data {
  padding-top: 3rem;
  /* background-color: black; */
}
.output-title {
  font-size: 1.4vw;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem 0 0.5rem 1rem;
  background-color: black;
}
.output {
  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  background-color: var(--clr-midtone);
  box-shadow: inset -4px -4px 7px var(--clr-light), inset 4px 4px 7px #00526a;
  font-size: 1.4vw;
  font-weight: bolder;
  letter-spacing: 0.4rem;
}

.tangent {
  padding: 0.25rem 0 1rem 0;
  border-radius: 15px;
  background-color: var(--clr-dark);
  text-align: center;

  box-shadow: inset -4px -4px 7px var(--clr-light), inset 4px 4px 7px black;
}

#calculate {
  color: var(--clr-dark);
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 0 5px 10px var(--clr-dark);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f5b324),
    color-stop(1, #f3c45d)
  );
  background: -moz-linear-gradient(center top, #f5b324 5%, #f3c45d 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5b324', endColorstr='#f3c45d'); */
  background-color: #f5b324;
}
#calculate:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f3c45d),
    color-stop(1, #f5b324)
  );
  background: -moz-linear-gradient(center top, #f3c45d 5%, #f5b324 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c45d', endColorstr='#f5b324');
  background-color: #f3c45d;
}
/* #calculate:hover {
  background-color: #f3c35d;
} */

#psize,
#dsize {
  width: 2em;
}
#inches,
#feet {
  /* margin-right: 0.5em; */
  width: 2em;
}
#numer,
#denom {
  border-radius: 50%;
  width: 1.7em;
}
#numer {
  vertical-align: text-bottom;
}
#denom {
  vertical-align: text-top;
}
@media screen and (max-width: 1140px) {
  .grid-container {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "input center inside"
      "input outside perp";
    grid-gap: 2rem;
    padding: 2rem 3rem 2rem 2rem;
  }
  input,
  select,
  option {
    padding-left: 0.5rem;
    font-size: 2vw;
  }
  .user-input,
  .user-input-title > h2,
  .output-title,
  .output {
    font-size: 1.9vw;
  }
  .tangent {
    font-size: 2.2vw;
  }
  .dashdot {
    font-size: 3vw;
  }
}
@media screen and (max-width: 740px) {
  input,
  select,
  option {
    padding-left: 0.3rem;
  }
}
@media screen and (max-width: 620px) {
  .grid-container {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "input"
      "center"
      "inside"
      "outside"
      "perp";
    grid-gap: 2rem;
    padding: 2rem 3rem 2rem 2rem;
  }
  .user-input-title {
    margin-right: 10px;
    margin-left: 10px;
  }
  input,
  select,
  option {
    padding-left: 0.5rem;
    font-size: 3.5vw;
  }
  .user-input,
  .user-input-title > h2,
  .output-title,
  .output,
  .tangent {
    font-size: 3.5vw;
  }
  .dashdot {
    font-size: 5vw;
  }
}
@media screen and (max-width: 425px) {
  input,
  select,
  option {
    padding-left: 0.3rem;
    font-size: 2.8vw;
  }
  .user-input,
  .user-input-title > h2,
  .output-title,
  .output,
  .tangent {
    font-size: 4vw;
  }
}
