*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}
:root {
  --clr-light: #54a6be;
  --clr-midtone: #01799c;
  --clr-dark: #112069;
  --clr-contrast1: #f5b324;
  --clr-contrast2: ;
  --ff-primary: "Jura", sans-serif;
  --ff-accent: ;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

body {
  background-image: url("https://bl6pap003files.storage.live.com/y4mMirp6TCQ0HUj4R6EaxDHB2w7hoKw-sFJtmKD1qNz1BDTnh7u2CZERrdDRSqyDAoyN4WlAbSvBgvW3uJ1VvpylSggwILKOQz_t2eki5j-jOR6yo_OBLX47uBaCuGpGfajsUGkNSfq9kfac4gxqAgK0zzqFxO8d1bXeweNepczGs7ib_8IvHcyzFaMss9sndaY?width=7698&height=5132&cropmode=none");
  /* height: 100vh; */
  background-size: cover;
}
.navbar-brand {
  color: white !important;
}
.item1 {
  grid-area: input;
}
.item2 {
  grid-area: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  background-color: #01799c90;
  /* margin-bottom: 3rem; */
  padding: 1rem;
  border: 2px solid var(--clr-light);
  border-radius: 8px;
  margin-bottom: auto;
}
.item3 {
  grid-area: inside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  background-color: #01799c90;
  /* margin-bottom: 3rem; */
  padding: 1rem;
  border: 2px solid var(--clr-light);
  border-radius: 8px;
  margin-bottom: auto;
}
.item4 {
  grid-area: outside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  background-color: #01799c90;
  padding: 1rem;
  border: 2px solid var(--clr-light);
  border-radius: 8px;
  margin-bottom: auto;
}
.item5 {
  grid-area: perp;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  background-color: #01799c99;
  padding: 1rem;
  border: 2px solid var(--clr-light);
  border-radius: 8px;
  margin-bottom: auto;
}

.grid-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "input center inside outside perp";
  /* "input outside perp"; */
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  font-family: var(--ff-primary);

  text-align: left;
  font-size: 2.2rem;
}
.navbar {
  background: var(--clr-dark);
  grid-area: nav;
}

.user-input-title {
  color: white;
  background-color: #01799c90;
  margin-bottom: 3rem;
  padding: 2rem;
  border: 2px solid var(--clr-light);
  border-radius: 8px;
}
.user-input-title > h2 {
  color: white;
  border: 2px solid var(--clr-contrast1);
  border-radius: 5px;
  width: fit-content;
  margin-top: -40px;
  margin-left: 5px;
  padding: 0.1rem 1rem;
  background-color: var(--clr-dark);
}
.user-input {
  padding-top: 1rem;
  font-size: 2rem;
}
.length-label {
  margin-top: 1rem;
  line-height: 2.5rem;
  display: block;
}
input,
select,
option {
  border-radius: 5px;
  background-color: var(--clr-light);
  font-size: 1.8rem;
  font-weight: bolder;
  color: white;
}

.fraction-bar {
  display: inline-block;
  font-size: 1.8rem;
  /* background-color: red; */
}
.my-links a {
  color: white !important;
  text-decoration: none;
  padding: 7px 15px !important;
  margin: 8px;
  border: 2px solid var(--clr-contrast1);
  border-radius: 25px;
  cursor: pointer;
}

.my-links a:hover {
  border: 2px solid white;
}
.answer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.pipe-img {
  width: 100%;
  /* background-color: green; */
  /* overflow: hidden; */
}

.pipe-img img {
  /* float: right; */
  width: 100%;
}
.cut-data {
  padding-top: 3rem;
  font-size: 1.8rem;
  /* background-color: black; */
}
.thrt,
.lgpt {
  padding: 0.5rem 0 0.5rem 1rem;
  background-color: black;
}
.output {
  padding: 0.5rem 0 0.5rem 1rem;

  margin-bottom: 2rem;
  background-color: var(--clr-midtone);
}

.tangent {
  padding: 0.25rem 0 1rem 0;
  border-radius: 5px;
  background-color: var(--clr-midtone);
  text-align: center;
}

#calculate {
  color: var(--clr-dark);
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 0 5px 10px var(--clr-dark);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f5b324),
    color-stop(1, #f3c45d)
  );
  background: -moz-linear-gradient(center top, #f5b324 5%, #f3c45d 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5b324', endColorstr='#f3c45d'); */
  background-color: #f5b324;
}
#calculate:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f3c45d),
    color-stop(1, #f5b324)
  );
  background: -moz-linear-gradient(center top, #f3c45d 5%, #f5b324 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c45d', endColorstr='#f5b324');
  background-color: #f3c45d;
}
/* #calculate:hover {
  background-color: #f3c35d;
} */

#psize,
#dsize {
  width: 2em;
}
#inches,
#feet {
  margin-right: 0.5em;
  width: 2em;
}
#numer,
#denom {
  width: 1.7em;
}

@media screen and (max-width: 575px) {
}
